@page {
    size: A4;
    margin: 0;
}

.page {
    width: 21cm;
    height: 29cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media print {
    .page {
        box-shadow: none;
        border: none;
        margin: none;
        padding: none;
        /* width: auto; */
        /* min-height: auto; */
    }
}

.qr_inner {
    padding: 5px;
}

.qr_inner img:first-of-type {
    border: 1px solid black;
    padding: 2px;
}

.qr_outer {
    border: 1px dotted black;
    margin: auto;
}

.qr_marker {
    height: 50px;
    margin: 5px;
}

.qr_url {
    margin: 10px 5px;
    /* Copied from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

.qrcode {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.qr_standard {
    float: left;
    width: 30%;
}

.qr_large {
    width: 60%;
    float: left;
}

.qr_huge {
    width: 90%;
}

.qr_huge .qr_inner {
    padding: 0px;
}

.qr_huge .qr_outer {
    margin: 0px;
}

.qr_huge .qrcode {
    padding: 0;
}


body {
    margin: 1vw;
}